In [42]:
from peewee import Model, CharField, DateField, SqliteDatabase, TextField, ForeignKeyField, DecimalField, DateTimeField
import random
from datetime import datetime, timedelta

In [5]:
db = SqliteDatabase('database.db')

In [8]:
class User(Model):
    name = CharField()
    ssn = CharField(unique=True)  # Assuming SSN is unique for each user
    bday = DateField()
    address = TextField()
    email = CharField(unique=True)
    phone = CharField()

    class Meta:
        database = db  # Define which database this model will use

In [15]:
class Transaction(Model):
    userkey = ForeignKeyField(User, backref='transactions')  # Foreign key to the User table
    amount = DecimalField(decimal_places=2)  # Store monetary amounts with two decimal places
    transaction_id = CharField(unique=True)  # Unique transaction ID
    date = DateTimeField()  # Store the date and time of the transaction
    merchant_location = TextField()  # Merchant or location
    status = TextField()  # Status of the transaction
    type = TextField()  # Type of the transaction (e.g., debit, credit)

    class Meta:
        database = db

In [16]:
class Check(Model):
    userkey = ForeignKeyField(User, backref='checks')  # Foreign key to User table
    file_b64 = TextField()  # The file in base64 string format
    status_code = CharField()  # Status code for the check (e.g., "approved", "pending")
    date_verified = DateTimeField()  # The date when the check was verified
    employee_id = CharField()  # The ID of the employee who verified the check
    transaction_id = ForeignKeyField(Transaction, backref='checks')  # Affiliated transaction ID

    class Meta:
        database = db

In [17]:
db.connect()

True

In [28]:
def print_users():
    trans = Transaction.select()
    
    # Print all users' details
    for t in trans:
        print(f"Name: {user.name}")
        print(f"SSN: {user.ssn}")
        print(f"Birthday: {user.bday}")
        print(f"Address: {user.address}")
        print(f"Email: {user.email}")
        print(f"Phone: {user.phone}")
        print("-" * 40)

In [60]:
def print_transactions():
    # Query all transactions from the Transaction table
    transactions = Transaction.select()

    # Loop through each transaction and print the details
    for transaction in transactions:
        print(f"Transaction ID: {transaction.id}")
        print(f"User ID: {transaction.userkey}")
        print(f"Amount: ${transaction.amount:.2f}")
        print(f"Date: {transaction.date}")
        print(f"Merchant/Location: {transaction.merchant_location}")
        print(f"Status: {transaction.status}")
        print(f"Type: {transaction.type}")
        print("-" * 40)  # Separator line

In [39]:
def generate_transaction_id():
    return f"TX-{random.randint(100000, 999999)}"

# Function to generate random amounts (within a reasonable range)
def generate_amount():
    return round(random.uniform(10.0, 10000.0), 2)  # Random amounts between $10.00 and $5000.00
def generate_status():
    statuses = ["Completed", "Pending", "Failed"]
    return random.choice(statuses)

# Function to generate a random transaction type
def generate_type():
    types = ["Purchase", "Refund", "Transfer", "Payment"]
    return random.choice(types)

In [40]:
# Function to generate random merchant locations
def generate_merchant_location():
    locations = ['Walmart, New York, NY', 'Apple Store, San Francisco, CA', 'Amazon.com, Online', 'Best Buy, Los Angeles, CA', 'Starbucks, Chicago, IL', "McDonald's, Miami, FL", 'Tesla Supercharger Station, Austin, TX', 'Target, Boston, MA', 'Nike Store, Portland, OR', 'CVS, Seattle, WA', 'Whole Foods Market, Brooklyn, NY', 'H&M, Paris, France', 'Uber Eats, Online', 'Sephora, Los Angeles, CA', 'Barnes & Noble, New York, NY', 'Airbnb, Online', 'Zara, London, UK', 'Nike Factory Store, Las Vegas, NV', 'Spotify Premium Subscription, Online', "Trader Joe's, San Diego, CA", "Bloomingdale's, Chicago, IL", 'Home Depot, Dallas, TX', 'Lush Cosmetics, Toronto, Canada', 'Etsy, Online', 'The Home Depot, Atlanta, GA', 'Apple iTunes, Online', 'Uber, San Francisco, CA', 'Caf√© du Monde, New Orleans, LA', 'Blue Apron, Online', 'L.L. Bean, Freeport, ME', 'Airline Ticket, Delta Airlines, JFK Airport, NY', 'Walmart, Miami, FL', 'Superdry, Tokyo, Japan', 'Puma Store, Berlin, Germany', 'Google Play Store, Online', 'Saks Fifth Avenue, New York, NY', 'Panera Bread, Boston, MA', 'Costco, Salt Lake City, UT', 'Whole Foods Market, Austin, TX', 'Petco, Los Angeles, CA', 'Neiman Marcus, Dallas, TX', 'REI, Seattle, WA', 'Etsy, Online', 'Barnes & Noble, Boston, MA', "Lowe's, Charlotte, NC", "Macy's, San Francisco, CA", 'Kroger, Atlanta, GA', 'Forever 21, Miami, FL', 'Nordstrom, Chicago, IL', 'Best Buy, Denver, CO', 'The Cheesecake Factory, Los Angeles, CA', 'JetBlue Airways, Online', 'Best Buy, Orlando, FL', 'Sunglass Hut, Las Vegas, NV', 'Walmart, Los Angeles, CA', 'Samsung Store, San Francisco, CA', 'Nike, Austin, TX', 'Walgreens, San Diego, CA', 'T-Mobile, New York, NY', 'Spotify, Online', 'Instacart, Online', 'Uber Eats, Los Angeles, CA', 'Target, Los Angeles, CA', 'Etsy, Online', "Macy's, Las Vegas, NV", 'Chewy, Online', 'Zalando, Online', 'Apple, Online', 'Sony Store, Tokyo, Japan', 'Airbnb, Los Angeles, CA', 'HBO Max Subscription, Online', 'Netflix Subscription, Online', 'Cinemark, Chicago, IL', 'Reebok, Boston, MA', 'Microsoft Store, Seattle, WA', 'Bose Store, New York, NY', 'DHL Shipping, Online', 'The Container Store, Dallas, TX', 'Kendra Scott, Austin, TX', 'PetSmart, Phoenix, AZ', 'Foot Locker, New York, NY', 'Etsy, New York, NY', "Trader Joe's, Portland, OR", 'Wayfair, Online', 'Sephora, New York, NY', 'Louis Vuitton, Paris, France', 'Tommy Hilfiger, Milan, Italy', 'H&M, Stockholm, Sweden', 'Tiffany & Co., New York, NY', 'Moo.com, Online', 'Warby Parker, New York, NY', 'REI, Portland, OR', "Burt's Bees, Online", 'Starbucks Reserve, Chicago, IL', 'American Eagle, San Francisco, CA', 'Sony PlayStation Store, Online', 'Patagonia, Denver, CO', 'Apple App Store, Online', 'Nordstrom Rack, Dallas, TX', 'Target, Chicago, IL', 'Hulu Subscription, Online', 'Nike Running, Online', 'Peapod, Online', "Domino's Pizza, Los Angeles, CA", 'Chipotle, Miami, FL', 'Taco Bell, Houston, TX', 'Olive Garden, San Diego, CA', 'Subway, New York, NY', 'IKEA, Seattle, WA', 'Walmart, Houston, TX', "Macy's, Miami, FL", 'Panasonic Store, Tokyo, Japan', 'Lush Cosmetics, New York, NY', 'ASOS, Online', 'Nike, London, UK', 'Lululemon, Los Angeles, CA', 'Lindt Chocolate, Zurich, Switzerland', 'Adidas, Berlin, Germany', 'Pizza Hut, Dallas, TX', 'Ralph Lauren, Beverly Hills, CA', 'Harrods, London, UK', 'Adidas, New York, NY', 'Tory Burch, New York, NY', 'Ikea, Richmond, VA', 'John Lewis, London, UK', 'HomeGoods, Boston, MA', 'GAP, San Francisco, CA', 'Saks Fifth Avenue, Miami, FL', 'Motel 6, Phoenix, AZ', 'The Ritz-Carlton, New York, NY', 'Hilton Hotels, San Francisco, CA', 'Barnes & Noble, San Francisco, CA', 'MoMA Store, New York, NY', 'Mongolian Grill, Denver, CO', "Wendy's, Salt Lake City, UT", "Land's End, Dodgeville, WI", 'Fossil, Dallas, TX', 'Canon Store, Tokyo, Japan', 'Chick-fil-A, Los Angeles, CA', 'Swarovski, Vienna, Austria', 'Zappos, Online', "Kiehl's, New York, NY", 'Fandango, Online', 'Polo Ralph Lauren, Chicago, IL', 'Uniqlo, New York, NY', 'Petco, New York, NY', 'Anheuser-Busch, St. Louis, MO', 'Cadillac, Detroit, MI', 'BMW, Munich, Germany', 'Fender Guitars, Hollywood, CA', 'Guitar Center, Los Angeles, CA', 'The North Face, Salt Lake City, UT', 'Tiffany & Co., Las Vegas, NV', 'HBO Max, Online', 'Giant Food, Washington, D.C.', 'Costco, Phoenix, AZ', 'REI, Denver, CO', 'Home Depot, Las Vegas, NV', 'Pier 1 Imports, Denver, CO', 'Target, Miami, FL', 'T-Mobile, Los Angeles, CA', 'Tesla, Palo Alto, CA', 'Subway, Dallas, TX', 'Kroger, Austin, TX', 'Urban Outfitters, Philadelphia, PA', 'J.Crew, New York, NY', 'Kith, New York, NY', 'Tommy Bahama, Honolulu, HI', 'Brooks Brothers, San Francisco, CA', 'Staples, Boston, MA', 'Shopify, Online', 'Airbnb, San Francisco, CA', 'Zara, Milan, Italy', 'TopShop, London, UK', 'Revolve, Online', 'The Container Store, Austin, TX', 'Nordstrom, Los Angeles, CA', 'Verizon, New York, NY', 'Patagonia, San Francisco, CA', 'Sur La Table, Seattle, WA', 'Red Lobster, Miami, FL', 'Cinemark Theaters, Dallas, TX', 'Michaels, Phoenix, AZ', 'Ace Hardware, Atlanta, GA', 'Amazon Fresh, Seattle, WA', 'Coach, New York, NY', 'Madewell, New York, NY', "Peet's Coffee, San Francisco, CA", "Ben & Jerry's, Burlington, VT", 'Shake Shack, New York, NY', 'Burlington Coat Factory, Boston, MA', 'Merriam-Webster, Online', 'Bonobos, San Francisco, CA', 'Samsung, Seoul, South Korea', "David's Bridal, Chicago, IL", 'Lululemon, Boston, MA', 'Whole Foods Market, Philadelphia, PA', 'Nordstrom Rack, Seattle, WA', 'Zales, Chicago, IL', 'Reebok, New York, NY', 'Prada, Milan, Italy', 'H&M, Vancouver, Canada', 'Peloton, Online', 'Google Store, Mountain View, CA', 'Dell, Round Rock, TX', 'Oculus, Online', 'PetSmart, Dallas, TX', 'Drizly, Online', 'Uber, New York, NY', 'SiriusXM, Online', 'Tesla, Denver, CO', 'TravisMathew, Irvine, CA', "Hershey's Chocolate, Hershey, PA", 'T-Mobile, Seattle, WA', 'Dollar Tree, Phoenix, AZ', 'Target, San Diego, CA', 'Whole Foods Market, Portland, OR', "Sam's Club, Houston, TX", 'GameStop, Los Angeles, CA', 'Saks Fifth Avenue, Los Angeles, CA', "Victoria's Secret, Miami, FL", 'JBL, Los Angeles, CA', 'Best Buy, Seattle, WA', "Macy's, Chicago, IL", 'Patagonia, Jackson Hole, WY', 'Wegmans, Buffalo, NY', 'Reebok, Portland, OR', 'Bose, New York, NY', 'Montblanc, Geneva, Switzerland', 'Skechers, Los Angeles, CA', 'Banana Republic, San Francisco, CA', 'Harley-Davidson, Milwaukee, WI', 'Belk, Charlotte, NC', 'Chanel, Paris, France', 'Swatch, Geneva, Switzerland', 'Fendi, Rome, Italy', 'La-Z-Boy, Monroe, MI', 'L.L. Bean, Freeport, ME', 'J. Crew, New York, NY', 'Vans, Anaheim, CA', 'Outdoor Voices, Austin, TX']

    return random.choice(locations)

In [48]:
users = User.select()
users
random.choice(users)

In [61]:
# Function to generate a random status
# Create a list of transactions for Mark Schwartz (using random values)
transactions_data = []
user_ids = [user.id for user in User.select()]
for _ in range(50):  # Generate 5 transactions for this user
    userkey = random.choice(user_ids)
    amount = generate_amount()
    transaction_id = generate_transaction_id()
    date = datetime.now() - timedelta(days=random.randint(0, 40), minutes=random.randint(0, 60), seconds=random.randint(0, 60))  # Random date within the last 40 days
    merchant_location = generate_merchant_location()
    status = generate_status()
    transaction_type = generate_type()

    transaction = Transaction.create(
        userkey=userkey,  # Assign to Mark Schwartz
        amount=amount,
        transaction_id=transaction_id,
        date=date,
        merchant_location=merchant_location,
        status=status,
        type=transaction_type
    )
    transactions_data.append(transaction)